@inject IStringLocalizer<WskSubNavMenu> Localize

<style>
    .sub-nav-menu-container {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0.75;
    }
</style>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class=@(IsMobile ? "" : "sub-nav-menu-container")>
                <MudStack Row="true" Class=@(IsMobile ? "ml-4 mt-4" : "")>
                    <MudButton StartIcon="@Icons.Material.Filled.Logout"><MudText>Logout</MudText></MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.Share"><MudText Class="highlight-shadow">Share</MudText></MudButton>
                </MudStack>
                <MudText Class="mr-2" Typo="Typo.caption">Welcome, @Localize["User"]</MudText>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class=@(IsMobile ? "" : "sub-nav-menu-container")>
                <MudStack Row="true" Class=@(IsMobile ? "ml-4 mt-4" : "")>
                    <MudButton StartIcon="@Icons.Material.Filled.Login" OnClick=NavigateToLogin><MudText>Login</MudText></MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.ShoppingCart"><MudText Class="highlight-shadow">Buy</MudText></MudButton>
                </MudStack>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState> 


@code {
    [CascadingParameter]
    protected bool IsMobile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();      
                       
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}");
    }
}